
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #3c3c3c;
    font-family: Times New Roman, serif;
    font-size: 1.1rem;
}

/* Navbar and Footer */
.navbar, .footer {
    background-color: #2a2a40; /* Dark Slate */
    color: #ffffff;
    padding: 20px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-icon {
    width: 50px;
    height: 50px;
    filter: invert(1); /* Inverts colors */
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-right a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #2a2a40; /* Dark Slate */
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-right a:hover {
    background-color: #9b5de5;
    color: #ffffff;
}

.hero {
    background-color: #2a2a40;
    color: #ffffff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2a2a40;
}


.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2a2a40;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.social-link:hover {
    color: #9b5de5;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}


/*Project Item*/
.project-item {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 20px;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.project-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    border-color: #6a0dad;
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2a2a40;
}

.project-item p {
    font-size: 1.1rem;
    color: #3c3c3c;
}

/*Project Image*/
.project-image {
    width: 375px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.project-image img {
    width: 350px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

/*Project List*/
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    max-width: 1550px;
    margin: 0 auto;
}

/*Project Details*/
.project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-details a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link text inherit the color of its parent */
}

.project-details h3 {
    font-size: 1.8rem;
    color: #6a0dad; /* Dark Purple for title */
    margin: auto;
}

.project-details p {
    font-size: 1.1rem;
    color: #3c3c3c;
    margin: 5px;
}

/*Project Section*/
.project-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
}

/*Project Header*/
.project-header {
    text-align: center;
    margin-bottom: 30px;
}

.project-header h1 {
    font-size: 2.5rem;
    color: #6a0dad; /* Dark Purple */
}

/*Project Content*/
.project-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

/*Learn more*/
.learn-more {
    color: #ffffff;
    background-color: #9b5de5;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
}


.learn-more:hover {
    background-color: #e0bbe4;
}

/*Contact Page*/
.contact-form-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;

}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #6a0dad;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #ffffff;
    color: #3c3c3c;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #9b5de5;
    outline: none;
}

.submit-button {
    background-color: #9b5de5;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #6a0dad;
}

/*Technologies Bubble*/
.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    /*row-gap: 2px;*/
    /*gap: 2px 2px;*/
}

.tech-tag {
    border: 2px solid #9b5de5;
    color: #9b5de5;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

/*.tech-tag p {*/
/*    font-size: 1.1rem;*/
/*    color: #3c3c3c;*/
/*    margin: 2px;*/
/*}*/

.tech-tag:hover {
    /*background-color: #e0bbe4;*/
    color: #ffffff;
    background-color: #9b5de5;
}

/*Featured Projects Home Page*/
.featured-projects {
    background-color: #f7f7f9;
    padding: 20px 20px;
    text-align: center;
}

.featured-projects h2 {
    font-size: 2.5rem;
    color: #6a0dad;
    margin-bottom: 20px;
}

.featured-project-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    background-color: #ffffff;
    border: 2px solid #9b5de5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.featured-project-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    border-color: #6a0dad;
}

.featured-projects-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}


#homePage {
    background-color: #ffffff;
}

#homePage .about {
    color: #3c3c3c;
}

#homePage .about p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #3c3c3c;
}

#aboutPage {
    background-color: #ffffff;
}

#aboutPage .about-section {
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#aboutPage .about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6a0dad;
}

#aboutPage .skills-section {
    padding: 50px 20px;
    text-align: center;
}

#aboutPage .skills-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6a0dad;
}

#aboutPage .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1300px;
    justify-items: center;
    margin: 0 auto;
}

#aboutPage .skill-item {
    background-color: #f7f7f9;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#aboutPage .skill-item h3 {
    font-size: 1.5rem;
    color: #6a0dad;
    font-weight: bold;
    margin-bottom: 10px;
}

#aboutPage .skill-item p {
    font-size: 1.1rem;
    color: #3c3c3c;
    line-height: 1.5;
}

#aboutPage .skill-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    border: 2px solid #6a0dad;
}

#galleryPage {
    background-color: #ffffff;
}

#galleryPage .projects-section {
    padding: 50px 20px;
    text-align: center;
}

#galleryPage .projects-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2a2a40;
}

#contactPage {
    text-align: center;
    padding: 20px 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #3c3c3c;
}

#contactPage h1 {
    font-size: 2.5rem;
    color: #6a0dad;
    margin-bottom: 10px;
}

#contactPage p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* individual project page */
#individual-project {
    font-size: 0.8rem;
    color: #2a2a40;

    position: relative;
}

#individual-project h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

#individual-project p {
    padding: 10px;
    font-size: 1.1rem;
    line-height: 1.84;
}


#confirmationPage {
    text-align: center;
    padding: 50px 20px;
    max-width: 600px;
    margin: 100px auto; /* Center vertically and horizontally */
    color: #3c3c3c;
}

.confirmation-box {
    background-color: #e0bbe4; /* Light Purple */
    border: 2px solid #9b5de5; /* Medium Purple */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-box h1 {
    font-size: 2rem;
    color: #6a0dad; /* Dark Purple */
    margin-bottom: 10px;
}

.confirmation-box p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.home-button {
    display: inline-block;
    background-color: #9b5de5; /* Medium Purple */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #6a0dad; /* Dark Purple on hover */
}

