{% extends "base.html" %}

{% block title %}About - Fernando's Portfolio{% endblock title %}

{% block content %}
<body id="aboutPage">

    <section class="about-section">
        <h1>About Me</h1>
        <p>Hello! I'm Fernando, a passionate Robotics and Mechanical Engineer dedicated to developing innovative solutions. With expertise in automation, AI integration, and mechanical design, I aim to drive efficiency and enhance capabilities in various industries.</p>

        <div class="social-links">
            <a href="https://github.com/Ceyx22" target="_blank" class="social-link">
                <img src="/static/images/github-icon.png" alt="GitHub" class="social-icon"> GitHub
            </a>
            <a href="https://www.linkedin.com/in/fernandomatias-tech/" target="_blank" class="social-link">
                <img src="/static/images/linkedin-icon.png" alt="LinkedIn" class="social-icon"> LinkedIn
            </a>
        </div>
    </section>

    <section class="skills-section">
        <h1>Skills</h1>
        <div class="skills-grid">
            <div class="skill-item">
                <img src="/static/images/robotics-icon.png" alt="Robotics" class="skill-icon">
                <h3>Robotics</h3>
                <p>ROS2, Linux, Git, Gazebo, Computer Vision, Motion Planning, Feedback Control</p>
            </div>
            <div class="skill-item">
                <img src="/static/images/programming-icon.png" alt="Programming" class="skill-icon">
                <h3>Programming</h3>
                <p>C++, C, Python, Java, MATLAB, PLC, VHDL</p>
            </div>

            <div class="skill-item">
                <img src="/static/images/manufacturing-icon.png" alt="Manufacturing" class="skill-icon">
                <h3>Manufacturing</h3>
                <p>Mills, Lathe, Laser Cutter, 3D Printing, Soldering</p>
            </div>
            <div class="skill-item">
                <img src="/static/images/mechanical-engineering-icon.png" alt="Mechanical Engineering" class="skill-icon">
                <h3>Mechanical Engineering</h3>
                <p>Fusion360, AutoCAD, SolidWorks, Mechatronics, Microcontroller</p>
            </div>

        </div>
    </section>


</body>
{% endblock content %}
