<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/FM_icon.png">
    <title>{% block title %}Fernando's Portfolio{% endblock title %}</title>
    {% endblock head %}
</head>
<!-- -->
<body>
<!-- Navigation Bar -->

<header class="navbar">
    <div class="navbar-left">
        <img src="/static/FM_icon.png" alt="FM Icon" class="navbar-icon">
        <h1>Fernando's Robotics Portfolio</h1>
    </div>
    <nav class="navbar-right">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
<!--        <a href="/contact">Contact</a>-->
<!--        <a href="/static/resume.pdf" class="resume-button" target="_blank">Resume</a>-->
    </nav>
</header>


    <div id="content">
        {% block content %}{% endblock content %}
    </div>


    <footer  class="footer">
        {% block footer %}
            &copy; 2024 Fernando's Robotics Portfolio. All rights reserved.
        {% endblock footer %}
    </footer>
</body>
</html>
