{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock title %}

{% block content %}
<body id="individual-project">
<section class="project-section">
    <h1>{{ project.title }}</h1>
    <div class="technologies">
        {% for tech in project.technologies %}
        <span class="tech-tag">{{ tech }}</span>
        {% endfor %}
    </div>
    <p>{{ project.description }}</p>

    {% for i in range(end=project.texts | length) %}
    <h2>{{project.headers[i]}}</h2>
    <p>{{ project.texts[i] }}</p>
    <img src="{{ gitraw_url ~ project.images[i]}}" alt="{{ project.title }}">
    {% endfor %}

    {% if project.videos[0] != "None"%}
    <h2>Videos</h2>
    {% for vid in project.videos%}
    <div class="video-container">
        <iframe
                width="560"
                height="315"
                src="{{youtube_url ~ vid}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
    {% endfor %}
    {% endif %}
</section>
</body>

{% endblock content %}
