{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block content %}
<body id="projectsPage">
    <section class="projects-section">
        <h1>My Projects</h1>
        <div class="project-list">
            {% for project in projects %}
            <div class="project-item">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <div class="technologies">
                    {% for tech in project.technologies %}
                        <p class="tech-tag">{{ tech }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>


{% endblock content %}

